.zoomImage{
    width:1920px;
    height:0;
    padding-bottom: 0;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}
.show-img{
    position:fixed;
    top: 0;
    left: 50%;
    background-position: center;
    width:auto;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}